.cart-container {
  max-width: 600px;
  min-height: 30vh;
  margin: 0 auto;
}

.cart-container .heading{
  width: 100%;
  text-align: center;
}

.cart-container .heading span{
  font-size: 38px;
  color: black;
  font-weight: 700;
  font-variant: small-caps;
  padding-top: 10px;
  position: relative;
}
.min-h-screen{
  margin-top: 22px;
  width: 100%;
  /* border:1px solid; */
min-height: 100vh;
}
.selected{
cursor: pointer;
  background-color: #ff5e5e;
  color: white !important;  
  padding: 4px 9px;
  margin-right: 22px;

}
.selected:nth-child(2){
  margin-left: 22px;
  background-color: #81ff5e;

}
.selected:nth-child(3){
  margin-left: 22px;
  background-color: #ffe710;

}
.selected:nth-child(4){
  margin-left: 22px;
  background-color: #0eafff;

}
.selected:nth-child(5){
  margin-left: 22px;
  background-color: #d15eff;

}
.selected:nth-child(6){
  margin-left: 22px;
  background-color: #8c5eff;

}
.cart-p{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

}

.cart-container .heading span::after{
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  /* border-bottom: 1px solid #ccc; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #ff5e5e;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.total-sum {
  margin-top: 20px;
  font-size: 1.2em;
  text-align: right;
}


.empty-cart{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.empty-cart img{
  width: 250px;
  /* height: 200px; */
}

.empty-cart a{
  padding: 6px 10px;
  background-color: aquamarine;
  border-radius: 6px;
}