.newsletter{
    width: 100%;
    margin-top: 20px;
    background-color: azure;
}

.newsletter .container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.newsletter .container .newsletter-heading{
    /* width: 25%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.newsletter .container .newsletter-heading i{
    font-size: 3rem;
}

.newsletter .container .newsletter-heading h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
}

.newsletter .container .newsletter-detail{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
}

.newsletter .container .newsletter-detail h3{
    font-size: 1/7rem;
    text-align: center;
    width: 45%;
    font-variant: small-caps;

}

.newsletter .container .newsletter-detail .input-part{
    width: 60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter .container .newsletter-detail .input-part input{
    width: 70%;
    height: 100%;
    background-color: whitesmoke;
    border: none;
    padding-left: 10px;
    outline: none;
}

.newsletter .container .newsletter-detail .input-part button{
    width: 30%;
    height: 100%;
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width:900px) {

    .newsletter .container .newsletter-detail{
        width: 100%;
    }
    
.newsletter .container .newsletter-detail .input-part{
    width: 100%;
}
}