.payment-section {
    width: 100%;
}

.payment-section .container {
    padding: 20px;
}

.payment-section .container h2 {
    font-size: 36px;
    font-weight: 700;
    color: #4a4a4a;
    font-variant: small-caps;
    text-align: center;
}

.payment-section .container .payment-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.payment-section .container .payment-row .order-details {

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;

    width: 32%;
}

.payment-section .container .payment-row .order-details h2{
    background-color: aliceblue;
    color: black;
    width: 100%;
    height: 50px;
}

.payment-section .container .payment-row .order-details .order-detail-bottom{
    display: flex;
    padding: 25px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.payment-section .container .payment-row .order-details .order-detail-bottom p{
    font-size: 1.3rem;
    font-weight: 700;
}

.payment-section .container .payment-row .order-details .order-detail-bottom span{
    color: #4a4a4a;
}

@media (max-width:925px) {
    .payment-section .container .payment-row .order-details {
        width: 100%;
    }
}