

.my-order {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.my-order .container h2{
    font-size: 36px;
    font-weight: 700;
    color: #4a4a4a;
    font-variant: small-caps;
    text-align: center;
}

.order-table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}

.order-table th, .order-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.order-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.order-row:nth-child(even) {
    background-color: #f9f9f9;
}

.order-row:hover {
    background-color: #f2f2f2;
}

.p-image img {
    width: 100px;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .order-table th, .order-table td {
        padding: 5px;
    }

    .p-image img {
        width: 80px;
    }
}
