@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --drop-down-bg-color: whitesmoke;
    --main-bg-color: #C9EDFF;
    --text-color: #050748;
    --para-color: #8585A1;
}

body,html{
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body {
   
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}

.button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.button {
    padding: 8px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }
  
  .button:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  

  .pricavy{
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
  }